{% extends 'base.html.twig' %}

{% block title %}Catégorie : {{ category.name }}{% endblock %}

{% block body %}
    <h1>Catégorie : {{ category.name }}</h1>

    {% if series is empty %}
        <p>Aucune série trouvée</p>
    {% else %}
        <ul>
            {% for serie in series %}
                <li>
                    <strong>ID :</strong> {{ serie.id }}<br>
                    <strong>Titre : {{ serie.title }}</strong> 
                    <strong>Résumé :</strong> {{ serie.summary }}
                    <img src="{{ serie.poster }}" alt="Image de la série {{ serie.title }}" class="w-60">
                    <a href="{{ path('program_show', { id: serie.id }) }}">
                        < Voir la fiche >
                    </a><br>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
