{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <h2 class="text-center text-2xl underline font-bold mb-5">Programme : {{ program.title }}</h2>
    <div class="ml-2 mb-5 flex">
        <img class="w-[25%]" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="ml-2 w-[75%] flex flex-col justify-between">
            <div>
                <h3 class="text-lg font-bold justify-self-start underline">Description :</h3>
                <p class="w-[50%]">{{ program.summary }}</p>
            </div>
            <p class="font-bold">Catégorie : {{ program.category.name }}</p>
            <a href="{{ path('program_seasons' , { id: program.id }) }}">Voir toutes les saisons</a>
        </div>
    </div>
    <a href="{{ path('program_index') }}" class="text-center text-lg font-bold">
        Retour à la liste des programmes
    </a>
{% endblock %}